// Define variables for your color scheme

// For example:
$red: #CC3228; // alerte forte
$orange: #E7951A; // alerte moyenne
$green: #28CC56 ; // alerte basse
$light-blue: #ABDAE1; // background pages principales
$medium-blue: #64C0CE;
$dark-blue: #242E48; // icones et titres H1 et H2
$light-gray: #FAFAFA; // background des pages
$white: #FFFFFF;
$medium-gray: #D5DCE3; // gris pour les icones de nourritures
$black: #000000;
$gray: #F4F4F4;
$dark-gray: #ECECEC;

$drop-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
