.container {
  padding-left: 1em;
  padding-right: 1em;
}

.row .top-bar-dons {
  h3 {
    color: black;
    margin-bottom: 0.5em;
  }
}

.user-header {
  p {
    font-weight: 600;
  }
  .user-avatar {
    border-radius: 50%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
    margin-top: 1em;
    border: #ffffff 2px solid;
  }
}

.donation-p {
  margin-top: 3em;
  .stats p {
    // font-weight: 400;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 20px;
/* identical to box height, or 95% */

    letter-spacing: 0.2px;
    color: #242E48;
  }
  .to-parameters {
    margin-top: 2em;
  }
}

.btn-logout {
  margin: auto;
  width: 250px;
  height: 50px;
  background: #64C0CE;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  color: white;
  display: flex;
  align-items: center;
  // font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size:18px;
  color: #FAFAFA;
  box-sizing: border-box;
  a {
    text-decoration: none;
  }
}

.text-center-logout {
  color: white;
  font-family: "Montserrat";
  font-size: 21px;
  font-weight: bold;
  // margin-top: 5em;
  vertical-align: sub;
  text-align: center;
  justify-content: center;
  a {
    text-decoration: none;
  }
}

.btn-params-user {
  margin-left: auto;
  margin-right: auto;
  width: 290px;
  height: 28px;
  background: #FFFFFF;
  border: 1px solid #D5DCE3;

}

.btn-del-user {
  margin-left: auto;
  margin-right: auto;
  width: 290px;
  height: 28px;
  background: #FFFFFF;
  border: 1px solid #D5DCE3;
  margin-top: 1.25em;
}

.text-center-params-user {
  color: #64C0CE;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: bold;
  margin-top: 5em;
  text-align: center;
  a {
    text-decoration: none;
  }
}

#text-stat {
  p {
  margin-top: 0;
  margin-bottom: -2rem;
  }
}
