.container-session {
  height:130vh;
  background: linear-gradient(163.29deg, #ABDAE1 8.23%, #64C0CE 97.96%);
  padding-top: 8vh;
}

.logo-session {
}

.title-session {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title-session-signup {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}

#text-form-session {
  color: white;
}

#text-form-session-signup {
  color: white;
  padding-top: 20px;
}

#btn-form-session {
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  border: 2px solid #FAFAFA;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

#btn-form-session-signup {
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  border: 2px solid #FAFAFA;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin-top: 20px;
}

#remember-me {
  font-family: Montserrat Alternates;
  color: #FFFFFF;

}
